/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --title-decor: var(--light-decor);
  --accent-color: var(--light-decor);
  --title-color: var(--title-light);
  --content-section: var(--dark);
  --main-title: var(--dark);
  --button-color: var(--dark);
  --button-decor: var(--dark);
  --border-color-hover: #32312d66;
  --decorated-zone-color: var(--dark);
  --background-image: url("../images/cover-image-light.png");
  --background-color: #ffeff7ff;
  --heading-color: var(--dark);
}

.theme-light .decorative-text {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-decor: var(--light-decor);
    --accent-color: var(--light-decor);
    --title-color: var(--title-light);
    --content-section: var(--dark);
    --main-title: var(--dark);
    --button-color: var(--dark);
    --button-decor: var(--dark);
    --border-color-hover: #32312d66;
    --decorated-zone-color: var(--dark);
    --decorated-zone-color: var(--dark);
    --background-image: url("../images/cover-image-light.png");
    --background-color: #ffeff7ff;
    --heading-color: var(--dark);
  }

  .decorative-text {
    visibility: hidden;
  }
}
